<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >
    <script src="vue.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>-->
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The lazy donkey music</title>
  </head>
  <body>
    <div id="app">
      <header>
        <img
          id="logo"
          v-bind:src="'lazydonkey_logo_' + color + '_170.png'"
          alt="lazy donkey logo"/>
          <nav>
            <ul class="menu" v-for="mood in moodList">
              <li class="menu-item"
                v-bind:id="'mood-' + mood.name"
                v-bind:class="{ active: mood.isActive }"
                v-on:click="filter_mood">
                  <a v-bind:href="'#' + mood.name">
                    {{ mood.name }}
                  </a>
              </li>
            </ul>
          </nav>
      </header>
      <main>
        <article class="container" v-for="album in albumList">
          <img
            v-bind:src="'covers/' + album.id + '.webp'"
            v-bind:alt="album.name"
            v-bind:id="'album-' + album.id" class="image">
          <div v-bind:class="'overlay ' + color">
            <div class="text">{{ album.artist }} - {{ album.name }}</div>
          </div>
        </article>
      </main>
    </div>
    <script src="albums.js"></script>
    <script src="main.js"></script>
  </body>
</html>
