:root {
  --main-img-size-width: 320px;
  --main-img-size-height: 180px;
  --theme-color-red: #f15c42;
  --theme-color-green: #448371;
  --theme-color-blue: #327b96;
  --theme-color-gray: #2E2E2E;
}

.red {
    background-color: var(--theme-color-red);
}
.green {
    background-color: var(--theme-color-green);
}
.blue {
    background-color: var(--theme-color-blue);
}

.active {
  font-weight: bold;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  background-color: floralwhite;
  /*background-color: var(--theme-color-gray);*/
}

header {
  padding: 35px;
  position: fixed;
  color: black;
}


main {
  padding-top: 10px;
  margin-left: 250px;
  text-align: left;
  height: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
}
a:link, a:visited, a:hover {
  color: black;
}
a:active {
  color: darkslategrey;
}

ul.menu {
  padding-left: 0px;
  cursor: pointer;
  list-style-type: none;
  text-transform: uppercase;
}

li.menu-item {
  border-top: solid black 1px;
  padding-top: 5px;
}

/* Alignment
   https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox/
*/
article.container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: var(--main-img-size-width);
  height: var(--main-img-size-height);
  cursor: pointer;
  transition: height 1s ease;
  transition-delay: 0.5s;
}
article.container:hover {
  height: var(--main-img-size-width);
}

img.image {
  object-fit: cover;
  display: inline-block;
  width: var(--main-img-size-width);
  height: var(--main-img-size-height);
  transition: height 1s ease;
  transition-delay: 0.4s;
}
img.image:hover {
  height: var(--main-img-size-width);
}

@media screen and (max-width: 600px) {
  header {
    text-align: center;
    float: none;
    position: relative;
  }

  main {
    text-align: center;
    margin-left: 0px;
  }
}
