:root {
  --main-img-size-width: 320px;
  --main-img-size-height: 130px;
  --theme-color-red: #f15c42;
  --theme-color-green: #448371;
  --theme-color-blue: #327b96;
  --theme-color-gray: #2E2E2E;
}

body {
  background-color: var(--theme-color-gray);
}

main {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
}

/* Alignment
   https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox/
*/
.container {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /*padding: 10px;*/
}

.image {
  object-fit: cover;
  display: inline-block;
  width: var(--main-img-size-width);
  height: var(--main-img-size-height);
}

/* Overlay Fade
   https://www.w3schools.com/howto/howto_css_image_overlay.asp
*/
.overlay {
  position: absolute;
  top: 0px;
  /*bottom: 10px;*/
  left: 0px;
  /*right: 10px;*/
  height: var(--main-img-size-height);
  width: var(--main-img-size-width);
  opacity: 0;
  transition: .5s ease;
}

.red {
    background-color: var(--theme-color-red);
}
.green {
    background-color: var(--theme-color-green);
}
.blue {
    background-color: var(--theme-color-blue);
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
